/* make it fill the screen */
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #0a0a0a;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#container {
    min-height: 100%;
    background: #d8d8d8;
}

.canvas-area {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}

#canvas {
    background-color: #000080;
    aspect-ratio: 1 / 1;
    max-height: 65vh;
    max-width: 65vh;
    width: min(65vh, 60vw);
    height: auto;
    flex: 0 0 auto;
}

#side-panel {
    flex: 1 1 auto;
    min-width: 0;
}

#bottom-panel {
    flex: 1 1 auto;
}

.divider {
    border-top: 2px solid #848584;
    border-bottom: 2px solid #fefefe;
    margin: 0.25rem 0 0.25rem 0;
    justify-self: center;
    width: 100%;
}

.panel {
    gap: 0.5rem;
    flex: 1 1 auto;
}

.outset {
    border-style: solid;
    border-width: 2px;
    border-color: #fefefe #848584 #848584 #fefefe !important;
}

.inset {
    border-style: solid;
    border-width: 2px;
    border-color: #848584 #fefefe #fefefe #848584 !important;
}

.group {
    position: relative;
    border: 2px solid #fefefe;
    padding: 16px;
    margin-top: 8px;
    font-size: 1rem;
    box-shadow:
        -1px -1px 0 1px #848584,
        inset -1px -1px 0 1px #848584;
}

.legend {
    display: flex;
    position: absolute;
    top: 0;
    left: 8px;
    transform: translateY(calc(-150% - 2px));
    padding: 0 8px;
    background: #d8d8d8;
    font-size: 1rem;
    font-weight: bold;
}

/* object tree */
ul,
#tree {
    list-style-type: none;
}

#tree {
    margin: 0;
    padding: 0;
}

#tree ul {
    margin: 0;
    padding-left: 1rem;
}

.name {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    box-sizing: border-box;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-bottom: 2px;
}
.name:hover {
    border-color: #fefefe #848584 #848584 #fefefe;
}
.name:active {
    border-color: #848584 #fefefe #fefefe #848584;
}

.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* context menu */
.context-menu {
    position: absolute;
    background: #d8d8d8;
    padding: 0.25rem;
    z-index: 999;
}
.context-menu > button {
    font-size: 0.9rem;
    background: unset;
    border-color: transparent;
    color: #0a0a0a;
    width: 100%;
    text-align: left;
}
.context-menu > button:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #fefefe #848584 #848584 #fefefe;
}
.context-menu > button:active {
    padding-top: 2px;
    padding-bottom: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #848584 #fefefe #fefefe #848584;
}
